@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Blv Zh. D'Ark<br />
    No 3<br />
    Tirana<br />
    Albania<br />s
    <abbr title="Phone">P:</abbr>
    +(355) 4 2222411
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@instat.gov.al">info@instat.gov.al</a><br />
    <strong>Media:</strong> <a href="mailto:media@instat.gov.al">media@instat.gov.al</a>
</address>