@{
    ViewBag.Title = @Resources.HomePage;
}

<div class="jumbotron">
    <h1>INSTAT</h1>
    <p class="lead">Para krijimit të shtetit shqiptar më 1912 shërbimi statistikor nuk ekzistonte.
Në vitin 1924 për herë të parë u krijua një zyrë statistikore që mbante evidenca të ndryshme ekonomike pranë Ministrisë së Botorës (mirëmbajtjes së rrugëve) dhe Bujqësisë. Veprimtaria e kësaj zyre kufizohej në inventaret bujqësore që përfshinin numrin e bujqëve dhe llojin dhe sasinë e shfrytëzimit të tokës me bimë bujqësore e blegtorale, si dhe në disa statistika të cekta mbi industrinë, tregtinë, eksport-importet dhe çmimet. Për herë të parë shërbimi statistikor në Shqipëri është institucionalizuar me Dekretin nr. 121, dt. 8/04/1940.</p>
    <p><a href="http://www.instat.gov.al" class="btn btn-primary btn-large">Më shumë &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Databaza Statistikore</h2>
        <p>
            INSTAT publikon çdo tabelë në formë elektronike
        </p>
           
        <p><a class="btn btn-default" href="http://www.instat.gov.al/al/figures/statistical-databases.aspx">Më shumë &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vizualizimi i Publikimeve</h2>
        <p>Vizulaizimi i publikimeve është një projekt i ri i INSTAT</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Më shumë &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instituti i Statistikave</h2>
        <p>Për më shumë informacion mund të vizitoni faqen e internetit të Institutit të Statistikave</p>
        <p><a class="btn btn-default" href="http://www.instat.gov.al">Më shumë &raquo;</a></p>
    </div>
</div>